{% extends "base.html" %}
{% block title %}Submit Homework{% endblock %}

{% block content %}
<div class="container mt-5">

    <h2 class="h3 mb-4">Submit Homework: {{ homework.title }}</h2>
    <p>Deadline: {{ homework.submission_date|date:"d M Y" }}</p>
    <div class="card mb-3 p-3 bg-light">
        <strong>Homework Description:</strong>
        <p>{{ homework.description|truncatechars:200 }}</p>
        <a href="{% url 'homework_details' homework.id %}">See details</a>
    </div>

    {% if deadline_passed %}
        <div class="alert alert-danger" role="alert">
            🚨 **The deadline for this homework has passed. Submissions are now closed.**
        </div>
        <a href="{% url 'homeworks' %}" class="btn btn-secondary ms-2">Back</a>

        {% if submission %}
            <h3>Your Submission:</h3>
            <div class="border p-3 rounded bg-light">{{ submission.submitted_text|linebreaks }}</div>
        {% else %}
            <p>You did not submit this homework before the deadline.</p>
        {% endif %}

    {% else %}

    <div class="card shadow-sm rounded-4">
        <div class="card-body">

            {% if submission %}
                <div class="alert alert-info mb-3">
                    <strong>You have already submitted this homework.</strong>
                    <div class="border p-3 rounded bg-light mt-2">{{ submission.submitted_text|linebreaks }}</div>
            </div>
            <a href="{% url 'submitted_homeworks' %}" class="btn btn-primary me-2">See My Submissions</a>
            <a href="{% url 'homeworks' %}" class="btn btn-secondary">Back</a>

            {% else %}

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        {{ form.submitted_text.label_tag }}
                        {{ form.submitted_text }}
                        <div class="form-text">Enter your homework answer here.</div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="{% url 'homeworks' %}" class="btn btn-secondary ms-2">Back</a>
                </form>

            {% endif %}

        </div>
    </div>

</div>
{%endif%}
{% endblock %}
