.custom-navbar-color {
    background-color: #3f51b5 !important;
}

.custom-navbar-color .btn-warning {
    background-color: #ff9800;
    border-color: #ff9800;
}

.custom-navbar-color .navbar-nav .nav-link:hover {
    color: #ffd700 !important; 
}

body{
    background-color: antiquewhite;
}

